body {
    padding-bottom: 20px;
}

.navbar {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 75px;
}

/* EE3824 */

/*
.jumbotron {
    background: url("../img/logo-transparent.png") no-repeat center center;
    background-size: cover;
    background-position: 0% 100%;
    color: #EE3824;
}
*/

.jumbotron {
    position: relative;
    background: url("../img/courtyard.jpg") no-repeat;
    background-size: cover;
}

#jumbotron-white {
    width: 380px;
    background-color: #EEEEEE;
    padding-bottom: 50px;
    opacity: 0.8;
}

.register-bar {
    margin-top: 20px;
    position: relative;
}

.tagline {
    font-size: 15px;
}

#sponsor-container, #host-container {
    text-align: center;
    color: #ff9900;
}

#marketing {
    background-color: #FFFFFF;
}

#top-half {
    background-color: #EE3824;
}

.navbar-static-top a {
    color: #FFFFFF;
}

.navbar-static-top .navbar-header > a:hover,
.navbar-static-top .navbar-nav > li > a:hover,
.navbar-static-top .navbar-nav > li > a:focus {
    background-color: #2D6CC0;
    color: #FF9900;
}

.navbar-header > button {
    background-color: #FFFFFF;
}

.icon-bar {
    background-color: #DDDDDD;
}

.logos {
    text-align: center;
    margin-bottom: 30px;
}

.logos > a {
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}

.acm {
    height: 150px;
}

.register-button {
    display: inline-block;
    width: 88px;
    height: 88px;
    border-radius: 66px;
    border: 2px solid #EE3824;
    font-size: 13px;
    color: #EE3824;
    line-height: 88px;
    text-align: center;
    text-decoration: none;
    background: #EEEEEE;
}

.register-button:hover {
    color: #EEEEEE;
    background: #EE3824;
    text-decoration: none;
}

.date-button {
    display: inline-block;
    width: 88px;
    height: 88px;
    border-radius: 66px;
    border: 2px solid #EE3824;
    font-size: 13px;
    color: #EEEEEE;
    text-align: center;
    text-decoration: none;
    background: #EE3824;
}

.date-button:hover {
    color: #EEEEEE;
    background: #EE3824;
    text-decoration: none;
}

#date-text {
    position: relative;
    top: 13px;
}

.date-button > span > hr {
    border: none;
    height: 3px;
    background-color: #FFFFFF;
    width: 33px;
    margin-top: 0px;
    margin-bottom: 0px;
}
