body {
    padding-bottom: 20px;
}

.navbar {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 75px;
}

/* EE3824 */

.jumbotron {
    position: relative;
    background: url("../img/bg.jpg") no-repeat;
    background-size: cover;
    margin-bottom: 0px;
}

#jumbotron-white {
    width: 320px;
    background-color: #EEEEEE;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
}

.register-bar {
    margin-top: 20px;
    position: relative;
}

.tagline {
    margin-top: 40px;
    font-size: 10pt;
    font-family: Calibri, Verdana, sans-serif;
}


#top-half {
    background-color: #EE3824;
}

.navbar-static-top a {
    color: #FFFFFF;
}

.navbar-static-top .navbar-header > a:hover,
.navbar-static-top .navbar-nav > li > a:hover,
.navbar-static-top .navbar-nav > li > a:focus {
    background-color: #2D6CC0;
    color: #FF9900;
}

.navbar-header > button {
    background-color: #FFFFFF;
}



.register-button {
    display: inline-block;
    margin-left: 10px;
    width: 88px;
    height: 88px;
    border-radius: 66px;
    border: 3px solid #FFFFFF;
    font-size: 13px;
    font-weight: 500;
    color: #FFFFFF;
    line-height: 88px;
    text-align: center;
    text-decoration: none;
}

.register-button:hover {
    color: #FFFFFF;
    border-color: #EE3824;
    background-color: #EE3824;
    text-decoration: none;
}

.date-button {
    display: inline-block;
    margin-right: 10px;
    width: 88px;
    height: 88px;
    border-radius: 66px;
    border: 3px solid #FFFFFF;
    font-size: 13px;
    font-weight: 500;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

.date-button:hover {
    color: #FFFFFF;
    background-color: #EE3824;
    border-color: #EE3824;
    text-decoration: none;
}

#date-text {
    position: relative;
    top: 13px;
}

.date-button > span > hr {
    border: none;
    height: 2px;
    background-color: #FFFFFF;
    width: 33px;
    margin-top: 0px;
    margin-bottom: 0px;
}

/* Blurb after landing page */
#description {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #EE3824;
}

#description-tagline {
    color: #FFFFFF;
}

/* FAQ */
/* 404041 */
#faq {
    background-color: #F7F7F7;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

h4 {
    color: #404041;
}

/* Sponsor and Logos */

#sponsor-container {
    text-align: center;
    color: #ff9900;
}

.icon-bar {
    background-color: #DDDDDD;
}

.logos {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.logos > a {
    margin-left: 25px;
    margin-right: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 0%;
}

.sponsor {
    height: 120px;
}

/* Footer */
