#ignore npm packages
node_modules/

# ignore compiled stylesheet
assets/css/citrushack.css

#ignore compiled js
assets/js/citrushack.js

# vim related
*.swp

# firebase test deployment
firebase.json

# sass related
.sass-cache
.DS_Store
